@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat.ttf)
}

@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa.ttf)
}

@font-face {
    font-family: Andika New Basic;
    src: url(../fonts/AndikaNewBasic-Regular.ttf)
}

@font-face {
    font-family: Titillium Web;
    src: url(../fonts/TitilliumWeb-Regular.ttf)
}

